nav{
    padding: 10px 3%;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 20;
}
nav .leftNav img{
    width: auto;
    height: 30px;
}
nav .leftNav{
    display: flex;
    align-items: center;
    column-gap: 60px;
}
nav .leftNav ul{
    display: flex;
    column-gap: 20px;
    font-size: 13px;
}
nav .leftNav ul li{
    padding: 4px 11px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-weight: 500;
    cursor: pointer;
}
nav li svg{
    margin-bottom: 2px;
    width: 15x;
    height: 15px;
}
nav .rightNav{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
nav .rightNav svg{
    height: 20px;
    width: auto;
}
nav .userProfile{
    display: flex;
    column-gap: 19px;
    align-items: center;
    padding: 4px 8px;
    border-radius: 30px;
}
nav .userProfile svg{
    height: 15px;
    width: auto;
}
nav .userProfile img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

nav .navMenu{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 59px;
    z-index: 20;
    background-color: white;
    right: 0px;
    padding: 15px 15px;
    min-width: 400px;
    row-gap: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.103);
}

nav .navMenu a{
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
nav .navMenu a:hover{
    background-color: rgb(11, 84, 76, 0.11);
}
nav .navMenu2 a svg{
    width: auto;
    height: 16px;
    margin-bottom: 3px;
}
nav .menuIcon{
    display: none;
}
.heroNavMenu{
    box-shadow: none !important;
}

@media(max-width: 870px){
    nav .leftNav ul{
        display: none;
    }
    nav .menuIcon{
        display: flex;
    }
    nav{
        padding: 10px 3%;
    }
}
@media(max-width: 400px){
    nav .navMenu{
        min-width: 100%;
    }
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 29px 5%;
    border-top: 1px solid rgb(214, 214, 214);
    flex-wrap: wrap;
    row-gap: 10px;
}
footer p{
    display: flex;
    flex-wrap: wrap;
    font-size: 13px;
    column-gap: 20px;
    align-items: center;
}
footer p i{
    font-size: 3px;
}
.footerSocialIcons{
    display: flex;
    column-gap: 19px;
}
.footerSocialIcons i{
    font-size: 15px;
}

@media(max-width: 870px){
    footer{
        padding: 25px 3%;
    }
}
@media(max-width:  684px){
    footer{
        /* align-items: center; */
        display: flex;
        flex-direction: column;
    }
    .footerSocialIcons i{
        font-size: 13px;
    }
}
@media(max-width: 600px){
    footer p{
        font-size: 12px;
        align-items: center;
        text-align: center;
    }
}